.texto {
    font-family: Roboto;
    text-align: left;
    text-align: center;
    font-size: 46px;
    font-weight: 400;
    line-height: 53.91px;
    text-align: left;
    color: aliceblue;
    width: 40%;

}