.cabecera{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.1em 10em;
    background: #000000;
    width: 100%;

}

.logoContainer{
    margin-top: 14px;
    margin-bottom: 14px;
    height: auto;
    display: flex;
    align-items: center;
}