.fondo {
    background-color: #262626;
    height: auto;
    display: flex;
    justify-content: center;

}

.container {
    height: auto;
    width: 1360px;
    margin-top: 80px;
}

.container form {
    background-color: #262626;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 25);
    padding: 8px 100px;
    height: 1192px;
    margin-bottom: 30px;
    bottom: 89px;
}

.container h2 {
    font-size: 60px;
    font-weight: 900;
}


.container h3 {
    font-family: Source Sans Pro;
    font-size: 36px;
    font-weight: 600;
    /* line-height: 24px; */
    text-align: left;
    padding: 24px;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
}

.container h4 {
    font-size: 20px;
    font-weight: 400;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    /* color: blueviolet; */
}



.formulario>* {
    box-sizing: border-box;
    min-width: 250px;
}



/*Cja de abajode los elementos*/
.elementoFormulario input {
    border: 3px solid #6BD1FF;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
    /* background-color: white; */
    height: 62px;
}



/*Cuadro Categoría*/
select {
    background-color: gray;
    width: 573px;
    height: 62px;
    gap: 0px;
    opacity: 0px;
}

/*Título de los elementos, excepto categoría*/
.elementoFormulario Label {
    display: block;
    background-color: darkred;
    text-align: left;
    margin-left: 10px;
}

.formulario .botones {
    background-color: greenyellow;
    grid-row: 4;
    display: flex;
    justify-content: left;
    /* Cuarta fila */
}

.formulario .titulo {
    background-color: aqua;
    width: 85%;
}

.formulario .categoria {
    background-color: yellow;
    position: relative;
    left: -90px;
}

.formulario .imagen {
    background-color: red;
}

.formulario .video {
    background-color: orangered;
}

.formulario .descripcion {
    background-color: green;
}



.formulario .titulo input {
    background-color: blue;
    height: 62px;
    width: 470px;
    justify-content: start;
}

.formulario .categoria select {
    background-color: purple;
    height: 62px;
    width: 573px;
}

.formulario .imagen input {
    background-color: white;
    height: 62px;
    width: 573px;
}

.formulario .video input {
    background-color: green;
    height: 62px;
    width: 573px;
}

.formulario .descripcion input {
    background-color: red;
    height: 220px;
    width: 573px;
}