.fondo {
    background-color: #262626;
 
    height: auto;
    display: flex;
    color: blueviolet;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 1360px;
}

.container form {
    background-color: #262626;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 25);
    padding: 8px 100px;
    height: 1192px; 
    margin-bottom: 30px;
    bottom: 89px;
}

.container h2 {
    font-size: 60px;
    font-weight: 900;
}


.container h3 {
    font-family: Source Sans Pro;
    font-size: 36px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    padding: 24px;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
}

.container h4 {
    font-size: 20px;
    font-weight: 400;
}
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    grid-template-rows: auto; /* Altura dinámica para las filas */
    gap: 16px; /* Espacio entre los elementos */
}


.formulario > * {
    box-sizing: border-box;
    min-width: 250px;
}

.fondoFormulario{
    display: flex;
    flex-direction: column;
}

.elementoFormulario {
    display: flex;
    flex-direction: column;
    margin: 19px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    border: 3px 0px 0px 0px;
    opacity: 0px;
    text-align: start;
    opacity: 0px;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

.elementoFormulario input {
    border: 3px solid #6BD1FF;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
    height:62px;
    /* ES LA ALTURA DE Título Y Video */
    
    
}

.elementoFormulario dialog {
    border: 3px solid #6BD1FF;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
    height:60px;
}



select {
    border: 3px solid #6BD1FF;
    background: transparent;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    color: white;
    
}

  .elementoFormulario Label{
    display: flex;
    flex-direction: column;
   
} 

/* Título y categoría en la primera fila */
.formulario .titulo {
    grid-column: 1; /* Primera columna */
    grid-row: 1; /* Primera fila */
    width: 470px;
}

.formulario .categoria {
    grid-column: 2; /* Segunda columna */
    grid-row: 1; /* Primera fila */
    width: 573px;
   
}

/* Imagen y video en la segunda fila */
.formulario .imagen select{
    grid-column: 1; /* Primera columna */
    grid-row: 2; /* Segunda fila */
    height:62px;
    width: 573px;
}

.formulario .video select{
    grid-column: 2; /* Segunda columna */
    grid-row: 2; /* Segunda fila */
    height:62px;
    width: 573px;
}

/* Descripción en la tercera fila */
.formulario .descripcion {
    grid-column: 1 / span 2; /* Ocupa ambas columnas */
    grid-row: 3; /* Tercera fila */
}

/* Botones en la cuarta fila */
.formulario .botones {
    grid-column: 1 / span 2; /* Ocupa ambas columnas */
    grid-row: 4; /* Cuarta fila */
}
