@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-Regular.otf') format('opentype'); /* Cambié a 'opentype' ya que usas .otf */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-Bold.otf') format('opentype'); /* Cambié a 'opentype' ya que usas .otf */
  font-weight: bold;
  font-style: normal;
}

:root {
  --font: 'Roboto', sans-serif; /* Cambié a 'Roboto' */
  --blanco: #fff;
  --negro: #222;
  --gris: #e2e2e2;
  background-color: #000000E5;
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
